# Ignore large dumped headers
CXXHeaderDump/
Dumps/
FModel/
DekModMenuFork/
Deprecated/
ProductionRepeat/
shared/
BaseRenameClone/
MercyToggleClone/
UniversalRPCBus/
MapsPlusServer/



# Ignore compiled zip archives
*.zip
HUDLocator/*.zip
AccessoryToggler/*.zip

# Ignore local temporary/IDE files
.gemini/
.idea/
.vscode/
.agents/

# Local deployment configurations and staging
deploy_config.json
staging/
