# Ignore large dumped headers
CXXHeaderDump/
Dumps/
FModel/
DekModMenuFork/
ModConfigurator/
Deprecated/
ProductionRepeat/


# Ignore compiled zip archives
*.zip
HUDLocator/*.zip
AccessoryToggler/*.zip

# Ignore local temporary/IDE files
.gemini/
.idea/
.vscode/
.agents/
